.App {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}

.App .weather-app {
  background: linear-gradient(
    109.6deg,
    rgb(20, 30, 48) 11.2%,
    rgb(36, 59, 85) 91.1%
  );
  margin: 0 auto;
  margin-top: 20px;
  max-width: 600px;
  border: 2px solid rgb(44, 101, 44);
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  padding: 35px;
}
