.CityDate h1 {
  font-weight: bolder;
  line-height: 1.5;
  margin-top: 8px;
  margin-bottom: 0;
  color: rgb(235, 214, 150);
  text-align: left;
}

h4 {
  color: rgb(235, 214, 150);
  text-align: left;
}

.myLocation {
  font-size: 30px;
}

#todays-date {
  margin-bottom: 0;
}

#current-time {
  margin-bottom: 20px;
}

#country {
  color: rgb(235, 214, 150);
}
