.ForecastPreview .forecastDays {
  font-weight: bolder;
  text-decoration: underline;
}

.ForecastPreview .maxTemp {
  font-weight: bold;
}

.ForecastPreview .minTemp {
  color: rgb(235, 214, 150, 0.8);
}
