.Weather .card-body {
  padding: 0;
  font-size: 20px;
  color: rgb(215, 215, 215);
}

.Weather .takeMeTo {
  font-size: 19px;
}

.Weather canvas {
  height: 90px;
  margin-bottom: 10px;
}

.Weather h1 {
  font-weight: bolder;
  line-height: 1.5;
  margin-top: 15px;
  margin-bottom: 0;
  color: rgb(235, 214, 150);
  text-align: left;
}

.Weather h4 {
  color: rgb(235, 214, 150);
  text-align: left;
}

.Weather ul {
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1.4;
  color: rgb(235, 214, 150);
}

.Weather li {
  font-size: 18px;
  text-align: right;
  padding-right: 20px;
  list-style: none;
}

.Weather .weather-description {
  font-size: 26px;
  color: rgb(235, 214, 150);
  font-weight: bold;
  text-align: left;
}

.Weather .weather-description {
  text-transform: capitalize;
}

.Weather .pack {
  font-size: 16px;
  color: rgb(215, 215, 215);
  text-align: left;
}

.Weather img {
  font-size: 120px;
  padding-bottom: 15px;
  padding-left: 20px;
  max-width: 80%;
}

.Weather .temperature {
  font-size: 100px;
  text-align: right;
  font-weight: bold;
}

.Weather .weather-temperature .active {
  color: rgb(235, 214, 150);
  cursor: default;
}

.Weather .weather-temperature .active:hover {
  text-decoration: none;
}

.Weather .feels-like,
.wind-speed {
  line-height: 2.5;
}
