ul {
  margin: 0;
  padding: 0;
  line-height: 1.4;
  color: rgb(235, 214, 150);
}

li {
  font-size: 18px;
  text-align: right;
  padding-right: 20px;
  list-style: none;
}

.weather-description {
  font-size: 26px;
  color: rgb(235, 214, 150);
  font-weight: bold;
  text-align: left;
}

.weather-description::first-letter {
  text-transform: capitalize;
}

.pack {
  font-size: 16px;
  color: rgb(215, 215, 215);
  text-align: left;
}

#weather-icon {
  font-size: 120px;
  padding-bottom: 15px;
  padding-left: 20px;
  max-width: 80%;
}

#sunrise {
  font-weight: bold;
}

#current-temperature {
  font-size: 105px;
  text-align: right;
}

#units-celsius,
#units-fahrenheit,
#units-line {
  position: relative;
  top: -40px;
  font-size: 25px;
}

.weather-temperature .active {
  color: rgb(235, 214, 150);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.feels-like,
.wind-speed {
  line-height: 2;
}
